body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
}

.App-header {
  background-image: url('/Users/jeremiahmarrujo/WeatherApp/my-portfolio/public/images/image5.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

h1, h2, p {
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-top: 0.5em;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
